[Unit]
Description=keeb
DefaultDependencies=no

[Service]
Type=simple
KillSignal=SIGINT
TimeoutStopSec=8
Restart=on-failure
StandardOutput=file:/home/dan/git/gpio-keyboard/keeb.log
StandardError=file:/home/dan/git/gpio-keyboard/keeb.log
SyslogIdentifier=keeb


### Change the paths below to match yours
WorkingDirectory=/home/dan/git/gpio-keyboard
ExecStart=/home/dan/git/gpio-keyboard/keeb.py
###

[Install]
WantedBy=sysinit.target

